:root {
     --jetbrains-font: url(../fonts/JetBrainsMono-Regular.ttf);
}

/* Utilities */
.border-gray {
     border-color: #b9b9b9 !important;
}

.my-4rem {
     margin-top: 4rem;
     margin-bottom: 4rem;
}

.my-7rem {
     margin-top: 7rem;
     margin-bottom: 7rem;
}

.tx-main {
     color: #000000;
}

.tx-jetbrains {
     font-family: var(--jetbrains-font), sans-serif !important;
}

/* Main btns */

#lightMode img,
#darkMode img {
     width: 3rem;
     height: 3rem;
     object-fit: contain;
}

#lightMode {
     filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(87deg) brightness(107%) contrast(101%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputs-pxCalc {
     background-color: #333333;
     border: none;

     padding: 1rem;
     font-size: 1.2rem;
     color: #ffffff;
     border-radius: .5rem;

     appearance: textfield;
}

.inputs-pxCalc::placeholder {
     color: #ffffff;
}

/* Light-mode */

.nav-title {
     color: #000000;
}

.main-example {
     border-radius: .5rem;
     background-color: #1e1e1f;
     width: 100%;
     height: 100%;
}

.main-exampleBlock {
     border-radius: 1rem;
     width: 100%;
     color: #ffffff;
     background-color: red;
     padding: 1.5rem 1rem;
}

.main-exampleBlock2 {
     border-radius: 1rem;
     width: 100%;
     color: #000000;
     background-color: greenyellow;
     padding: 1.5rem 1rem;
}

.code-example {
     border-radius: .5rem;
     background-color: #1e1e1f;
     width: 100%;
     height: 100%;
}

.code-example h5,
.code-example p {
     color: #ffffff;
}

.line {
     color: #8b8b8b;
     margin-right: 1rem;
     position: relative;
}

.line::after {
     display: inline-block;
     position: absolute;
     content: "";
     width: 1px;
     height: 100%;
     background-color: #797979;

     right: -.6rem;
}

.codeClass {
     color: rgb(129, 255, 255);
}

.codeBrackets {
     color: yellow;
}

.codeProperty {
     color: rgb(54, 255, 47);
     margin-left: 2rem;
}

.codeValue {
     color: yellow;
}

/* Dark-mode */

.dark {
     background-color: #1e1e1f;
}

.dark .nav-title {
     color: #FFF;
}

.dark .main-example {
     background-color: #39393b;
}

.dark .code-example {
     background-color: #39393b;
}

/* Utilities */

.dark .border-gray {
     border-color: #333333 !important;
}

.dark .tx-main {
     color: #ffffff !important;
}