:root {
     --greenColor: #3cff9d;
     --jetbrains-font: url(../fonts/JetBrainsMono-Regular.ttf);
}

/* Utilities */
.border-gray {
     border-color: #b9b9b9 !important;
}

.whitespace {
     margin-top: 7.8rem;
     margin-bottom: 7.8rem;
}

.tx-main {
     color: #000000;
}

.tx-jetbrains {
     font-family: var(--jetbrains-font), sans-serif !important;
}

/* Positions */

.col-3left {
     padding-right: 8.33333333%;
}

.col-3center {
     padding-left: 4.166666665%;
     padding-right: 4.166666665%;
}

.col-3right {
     padding-left: 8.33333333%;
}

/* Main btns */

#lightMode img,
#darkMode img {
     width: 3rem;
     height: 3rem;
     object-fit: contain;
}

#lightMode {
     filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(87deg) brightness(107%) contrast(101%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.inputs-pxCalc {
     background-color: #333333;
     border: none;

     padding: 1rem;
     font-size: 1.2rem;
     color: #ffffff;
     border-radius: .5rem;

     appearance: textfield;
}

.inputs-pxCalc::placeholder {
     color: #ffffff;
}

/* Light-mode */

.nav-title {
     color: #000000;
}

.main-example {
     border-radius: .5rem;
     background-color: #1e1e1f;
     width: 100%;
     height: 100%;
}

.main-exampleBlock {
     border-radius: 1rem;
     width: 100%;
     color: #ffffff;
     background-color: red;
     padding: 1.5rem 1rem;
}

.main-exampleBlock2 {
     border-radius: 1rem;
     width: 100%;
     color: #000000;
     background-color: greenyellow;
     padding: 1.5rem 1rem;
}

.code-example {
     border-radius: .5rem;
     background-color: #1e1e1f;
     width: 100%;
     height: 100%;
}

.code-example h5,
.code-example p {
     color: #ffffff;
}

.line {
     color: #8b8b8b;
     margin-right: 1rem;
     position: relative;
}

.line::after {
     display: inline-block;
     position: absolute;
     content: "";
     width: 1px;
     height: 100%;
     background-color: #797979;

     right: -.6rem;
}

.codeClass {
     color: rgb(129, 255, 255);
}

.codeBrackets {
     color: yellow;
}

.codeProperty {
     color: rgb(54, 255, 47);
     margin-left: 2rem;
}

.codeValue {
     color: yellow;
}

.footer {
     background-color: #333333;
}

.footer2 {
     background-color: #1d1d1d;
}

.footer-text {
     color: white;
}

.disabled-text {
     color: #8b8b8b;
}

.footer a {
     transition: color .2s ease;
}

.footer a:hover {
     color: var(--greenColor);
}

.footer-icon {
     color: transparent !important;
}

.footer-icon img {
     height: 2rem;
     width: 2rem;
     
     object-fit: contain;
     margin-right: .5rem;
     transition: transform .15s ease;
}

.footer-icon:hover img {
     transform: rotate(4deg) scale(1.2);
}

/* Dark-mode */

.dark {
     background-color: #1e1e1f;
}

.dark .nav-title {
     color: #FFF;
}

.dark .main-example {
     background-color: #39393b;
}

.dark .code-example {
     background-color: #39393b;
}

.dark .footer {
     background-color: #111111;
}

.dark .footer2 {
     background-color: #070707;
}

/* Utilities */

.dark .border-gray {
     border-color: #333333 !important;
}

.dark .tx-main {
     color: #ffffff !important;
}